
<div class="footer">
    <div class="container">
		<div class="row">
        	<div class="col-md-3">
    			<address>
  					<strong>USA</strong><br>
  					1355 Market Street, Urbandale<br>
  					Des Moines, Iowa<br>
  					<i class="fa fa-phone"></i> <a href="tel:+17812610667">+1-781-261-0667</a>
				</address>
			</div>

			<div class="col-md-3">
    			<address>
  					<strong>Nepal</strong><br>
  					Parma Tole, Ward no. 3<br>
  					Dhobighat, Lalitpur<br>
  					<i class="fa fa-phone"></i> <a href="tel:+97715545120">+977-1-5545120</a>
				</address>
			</div>

			<div class="col-md-3">
				<address>
					<strong>Get In Touch</strong><br>
  					<i class="fa fa-envelope"></i></a> <a href="mailto:info@ascend.com.np">info@ascend.com.np</a>
				</address>
			</div>
			
            <div class="col-md-3">
                <strong>Stay Connected</strong><br>
                <ul>
                    <li><a href="https://plus.google.com/112435605334486581967/about"><i class="fa fa-google-plus"></i></a>
                    <li><a href="https://www.facebook.com/ascendinfortech/"><i class="fa fa-facebook"></i></a>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    <li><a href="https://www.linkedin.com/company/amatya-technologies-llc"><i class="fa fa-linkedin"></i></a>
                    <li><a href="http://www.amatya.net/"><i class="fa fa-wordpress"></i></a>
                </ul> 
            </div>
        </div>

        <hr class="footer-divider">

        <div class="row">
            <div class="col-md-12">
                <center>© 2007-2015 Ascend Infotech Pvt. Ltd.</center>
            </div>

            <br>
            <p class="pull-right"><a href="#">Back to top</a></p>
        </div>
   	</div>
</div>
