
<div class="footer">
    <div class="container">
		<div class="row">
        	<div class="col-md-4">
    			<address>
  					<strong>USA</strong><br>
  					1355 Market Street, Urbandale<br>
  					Des Moines, Iowa<br>
  					<abbr title="Phone">P:</abbr> +1-781-261-0667
				</address>
			</div>

			<div class="col-md-4">
    			<address>
  					<strong>Nepal</strong><br>
  					Parma Tole, Ward no. 3<br>
  					Dhobighat, Lalitpur<br>
  					<abbr title="Phone">P:</abbr> +977-1-5545120
				</address>
			</div>

			<div class="col-md-4">
				<address>
					<strong>Get In Touch</strong><br>
  					<a href="mailto:#">info@ascend.com.np</a>
				</address>
			</div>
			
        </div>
   	
   		<div class="row">
   			<div class="col-md-8">
   				<strong>Stay Connected</strong><br>
   				<abbr title="Facebook">f</abbr> 
   				<abbr title="Twitter">t</abbr> 
   				<abbr title="GPlus">g+</abbr>
   				<abbr title="LinkedIn">in</abbr> 
   			</div>

   			<div class="col-md-4">
   				© 2007-2015 Ascend Infotech Pvt. Ltd.
   			</div>

   			<br>
       		<p class="pull-right"><a href="#">Back to top</a></p>
   		</div>
   	</div>
</div>
