<%= provide(:about, "active") %>
<%= provide(:title, "About") %>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
    
        <p>We are a technology services company - and our mission is to help our clients worldwide do one thing: achieve more with less. </p>
    </div>
</div>
	
<div class="container">
    <p>Let us talk, and show how you can minimize your development, integration and product ownership costs with the power of open-source technologies, agile methodologies, outsourcing and consulting. </p>

    <p>We are not a company that preaches one technology over the other, or suggests our clients to follow one methodology blindly. We do not believe one size fits all. The real power lies in being able to choose the right technology, right people, and getting things done in time. We do not believe in projects that go on and on for years.</p>

  	<%= link_to "Contact Us", new_contact_path, :class => "btn btn-inverse" %>
	
</div><!-- /container -->

