<%= provide(:about, "active") %>
<%= provide(:title, "About") %>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
    
        <p>We are a technology services company - and our mission is to help our clients worldwide do one thing: achieve more with less. </p>
    </div>
</div> 
	
<div class="container lead">
    <p>Let us talk, and show how you can minimize your development, integration and product ownership costs with the power of open-source technologies, agile methodologies, outsourcing and consulting. </p>

    <p>We are not a company that preaches one technology over the other, or suggests our clients to follow one methodology blindly. We do not believe one size fits all. The real power lies in being able to choose the right technology, right people, and getting things done in time. We do not believe in projects that go on and on for years.</p>
	
</div><!-- /container -->

<div class="jumbotron">
    <div class="container">
        <h1>Meet our Team!</h1>
        
        <p>Here are the minds who keep Ascend up and running. </p>
    </div>
</div>

    <!-- Ascend team and members -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="/images/team/sanjay_amatya.jpg" alt="Sanjay Amatya" width="140" height="140">
        </div>
        <div class="col-md-9">
            <h3>Sanjay Amatya, Solutions Architect</h3>
            <p>Sanjay is a Certified Enterprise Architect and Developer. He has a Masters in Computer Engineering degree from Lvov Polytechnic University, Ukraine. With 15+ years of IT experience in US, he has consulted for Fortune 500 companies in healthcare, financial and insurance sectors and has delivered complex projects in time and budget. His main focus is application architecture, data modeling, Java / JEE, Spring and other open source technologies.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="/images/team/Nabina.png" alt="Rajan Pangeni" width="140" height="140" href="#">
        </div>
        <div class="col-md-9">
            <h3>Nabina​, Project Manager / Business Analyst</h3>
            <p>Nabina has 8+ years of experience as Business Analyst, Project Coordinator and QA Analyst. Before joining Ascend, she worked as Business Analyst for FBL Financial Group,Inc – a US based Insurance & Financial group. She is experienced in coordinating among project teams and QA testing, project planning, requirements gathering and technical documentation. She has Masters in Humanities and Social Sciences, majoring in English Literature and Media.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="/images/team/rajan_pangeni.jpg" alt="Rajan Pangeni" width="140" height="140" href="#">
        </div>
        <div class="col-md-9">
            <h3>Rajan Pangeni, DevOps Specialist</h3>
            <p>Rajan is our experienced Analyst / Developer, with experience in both application development as well as networking and web administration. He graduated from Tribhuvan University and is a Microsoft Certified Professional and Microsoft Certified System Administrator. He has hands-on knowledge of web technologies – Linux, PHP, Drupal and MySQL Server, CSS.</p>
        </div>
    </div>

    <hr>

    <div class="row">    
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="/images/team/sangam_upreti.jpg" alt="Sangam Upreti" width="140" height="140">
        </div>
        <div class="col-md-9">
            <h3>Sangam Upreti, Senior Developer</h3>
            <p>Sangam is our Lead Developer and brings 8+ years of application design and development experience. He has MSc. in Computer Science. from Kathmandu University. He has extensive experience with Linux, PHP, Laravel Framework, Drupal, Wordpress and MySQL. He is also experienced in Java/J2EE and C++.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="/images/team/bibek.jpg" alt="Bibek Shrestha" width="140" height="140">
        </div>
        <div class="col-md-9">    
            <h3>Bibek Shrestha, Senior Developer</h3>
            <p>Bibek is our Senior Lead Developer and brings 8+ years of experience in application design and development. He has Masters Degree in Informatik with a major in Software Engineering and Computer Networks from Technical University of Munich.He has excellent knowledge in web-application development and database design - with focus on technologies like Linux, Ruby and RoR Framework, Drupal module development, Java, MySQL and Oracle.</p>
        </div>
    </div><!-- /.row -->

    <hr>
</div>

<div class="jumbotron">
    <div class="container">
        <p>Want to work with us?</p>
        <p><%= link_to "Contact Us", new_contact_path, :class => "btn btn-inverse" %></p>
    </div>
</div>

     