<div class="jumbotron">
    <div class="container text-center">
        <h1>eMedicSuite</h1>
        
        <p>A state of the art web based application for doctors, clinics, hospitals to efficiently manage electronic medical records (EMR) and streamline practice management (PM) workflow from admission to discharge.</p>

        <p> eMedicSuite is developed with grounds-up architecture and totally home-grown solution. </p>
    </div>
</div>

<div class = "container">
    <div class="row featurette">
        <div class="col-md-12">
            <img class="img-responsive center-block" src="/images/products/EMR.png" alt="eMedicSuite">
        </div>
    </div>

    <br>
</div>


<div class="jumbotron">
    <div class="container text-center">
        <h2>eMedicSuite Versions</h2>
        
        <p>We have standardized different versions of our software to meet daily your EMR needs. But we also understand that your business is unique, and therefore, consistently work towards making our products better and customized according to fulfill distinctive requirements. </p>
    </div>
</div>

<div class = "container text-center">
    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <img class="featurette-image img-responsive center-block" src="/images/products/image22.jpg" width="250" height="200" alt="eMedicSuite Enterprise">

            <p class="lead">Full EMR and practice management for hospitals with inpatient / OPD workflow management and billing.</p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <img class="featurette-image img-responsive center-block" src="/images/products/image26.jpg" width="250" height="200" alt="eMedicSuite Pro">

            <p class="lead">Full EMR for clinics or your personal practice.  The Pro version has following specialized versions: eMedicSuite Pro Heart (specially designed for heart clinics) & eMedicSuite Pro RHD (focuses on Rheumatic Heart Disease & reporting only)</p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <img class="featurette-image img-responsive center-block" src="/images/products/image25.jpg" width="250" height="200" alt="eMedicSuite Store">

            <p class="lead"> Inventory management for Medical / General / OT.</p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <img class="featurette-image img-responsive center-block" src="/images/products/image28.jpg" width="250" height="200" alt="eMedicSuite Pharma">

            <p class="lead"> Inventory management for your Pharmaceutical chain.</p>
        </div>
    </div>

    <hr>

    <!-- /END THE FEATURETTES -->
</div>
