<%= provide(:home, "active") %>
<%= provide(:title, "Home") %>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>
  
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/images/eMedicSuite_logo.jpg" alt="First slide">
            
            <div class="container-fluid">
                <div class="carousel-caption">
                    <!--<h1>EMR</h1>-->
                    
                    <p style="color:#434343;">A clinically relevant electronic medical record(EMR) that completely documents a patient's regimen.</p>
                    
                    <p><a class="btn btn-lg btn-inverse" href="/products/emedicsuite" role="button">Learn More</a></p>
                </div>
            </div>
        </div>
    
        <div class="item">
            <img class="second-slide" src="/images/karma_new.png" alt="Second slide">
            
            <div class="container-fluid">
                <div class="carousel-caption">
                    <!--<h1>Karma CRM</h1>-->
                    
                    <p>A customizable customer relationship management solution and project management system for your enterprise.</p>
                    
                    <p><a class="btn btn-lg btn-inverse" href="/products/karma" role="button">Request a Demo</a></p>

                </div>
            </div>
        </div>
        
        <div class="item">
            <img class="third-slide" src="/images/nepalvintage_mini.jpg" alt="Third slide">
            
            <div class="container-fluid">
                <div class="carousel-caption">
                    <!--<h1>Nepal Vintage</h1>-->
                
                    <p style="color:#000000;">BUY EXCLUSIVELY FROM NEPAL</p> 
                    <p style="color:#000000;">genuine. unique. vintage.</p>
                    
                    <p><a target="_blank" class="btn btn-lg btn-inverse" href="http://nepalvintage.com/" role="button">Shop Now!</a></p>

                </div>
            </div>
        </div>

        <div class="item">
            <img class="fourth-slide" src="/images/chyangba_final_mini.jpg" alt="Third slide">
            
            <div class="container-fluid">
                <div class="carousel-caption">
                    <!--<h1>Chyangba</h1>-->
                
                    <p>Get the best deals from your local businesses. Just a scratch away.</p>
                    
                    <p><a class="btn btn-lg btn-inverse" href="/products" role="button">Sign Up Today</a></p>
                </div>
            </div>
        </div>
  
    </div>
  
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">        
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
  
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div><!-- /.carousel -->


<div class="jumbotron">
    <div class="container">
        <h1>What we offer</h1>
        <br>
        <div class="row">
            <div class="col-sm-6 homewidget">
                <span class="fa fa-line-chart" aria-hidden="true"></span>
                <h3> CRM / ERP</h3>
                <p>Our CRM helps your business to generate leads, create sales projections, send invoices to improve customer retention and focus on increasing sales and maximizing profit through the smart use of your customer data. If you need to focus  on your own business processes, look for our ERP software. It makes the customer data as well as business data easily sharable througout all business levels, creating a real-time, enterprise-wide snapshot. Our aim is to help you streamline your business processes across all levels by reducing overhead and cutting costs otherwise spent on these processes. </p>
            </div>  
            
            <div class="col-sm-6 homewidget">
                <span class="fa fa-hospital-o" aria-hidden="true"></span>
                <h3>EMR / PM</h3>
                <p> Our EMR is a scalable and flexible solution that allows you to improve workflow, enhance accuravy of your patient records and improve reimbursement. As a full featured medical practice management software, we also have integrated practice management into our EMR. It  manages appointments with precision, captures patient data more efficiently, simplifies billing, streamlines IPD management, assists in reporting of Discharge cummary, Diagnosis History and much more. Our aim with EMR/PM is to help your medical practice to be simple yet efficient. </p>
            </div>  
        </div>
        <br>
        <div class = "row">
            <div class="col-sm-6 homewidget">
                <span class="fa fa-tablet" aria-hidden="true"></span>
                <h3>Mobile Marketing</h3>
                <p> We have designed our software so that you can approach marketing with a mobile first mindset. With a content management system that takes care of sending SMS, push messaging, group messaging, our mobile marketing solutions help you to drive immediate and relevant engagement with your customers. You can engage with your customers in the moment and send real-time alerts and offers with targeted push notifications and integration with other delivery channels. </p>
            </div> 

            <div class="col-sm-6 homewidget">
                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                <h3>eCommerce</h3>
                <p> Our eCommerce platform focuses on integrating digital and physical shopping experiences. It is a cross-platform software that is built to boost sales through personalized conent and seamless shopping experience. We value customer loyaly as much as you do, which is why we aim to improve shopper engagement and simplify purchase process. You can control all your commerce operations without IT support, and keep yourself ahead of increasingly complex commerce operations and growing customer demands.   </p>
            </div>   
        </div>

        <hr>
        <p align="center"><%= link_to "Visit Our Products &raquo;".html_safe, products_path, :class => "btn btn-inverse" %></p>
    </div>
</div>

<div class="container">
    <p class="lead"> Want us to join you in your next project? Lets get started about how we work -</p>

    <p><%= link_to "About Us &raquo;".html_safe, about_path, :class => "btn btn-inverse" %></p>
</div>