<div class="jumbotron">
    <div class="container text-center">
        <h1>Karma</h1>
        
        <p> A good business is about Getting Things Done. And that is possible only when you get organized.</p>

        <p>As a business-owner or entrepreneur, you talk to many different people on a daily basis – your prospects, clients, co-workers, vendors, project stake-holders, partners … Usually its all scattered over emails, text documents, your notebook or a piece of paper. How will you make sure you are well prepared to talk to your potential client or project in the next meeting?</p>
    </div>
</div>

<div class = "container text-center">
    <div class="row featurette">
        <div class="col-md-12">
            <img class="img-responsive center-block" src="/images/products/Karma.jpg" alt="Karma">
        </div>
    </div>

    <br>
</div>

<div class="jumbotron">
    <div class="container text-center">
        <p>Karma is the tool that you will help you organize it all.</p>

        <p>Karma helps you keep track of what was said about a client or an opportunity, what needs to be done next, tasks assigned to you and your co-workers, documents related to a client or project – all client-related information at your finger tips – helping you streamline your client-related workflow and helping you take the right decisions for your business. Create email templates. Keep your clients informed of your happenings. Followup on a certain purchase they made recently. Email them your deals.</p>
    </div>
</div>