<%= provide(:portfolio, "active") %>
<%= provide(:title, "Portfolio") %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Meet our Clients!</h1>
        
        <p>Here some of our clients that we and our consultants have worked with. </p>
    </div>
</div>


<div class="container">
    
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image02.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image03.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image04.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image05.png" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image06.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image07.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image08.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image09.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image10.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image11.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image12.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image13.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image14.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image15.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image16.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image17.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image18.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image19.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image20.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image21.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image40.png" alt="Institute of Medicine" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image41.png" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

</div>
