<%= provide(:portfolio, "active") %>
<%= provide(:title, "Portfolio") %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Meet our Clients!</h1>
        
        <p>Here some of our clients that we and our consultants have worked with. </p>
    </div>
</div>


<div class="container">
     <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image06.png" alt="Government of Nepal" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image07.jpg" alt="Nepal Heart Foundation" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image08.png" alt="Nepalese Doctors Association" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image09.jpg" alt="Shine Dental Clinic" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image05.png" alt="Nidan" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image03.png" alt="Nepal Heart Clinic" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image04.png" alt="DECC" width="180" height="180">
        </div>
        
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image02.jpg" alt="Institute of Medicine" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image19.png" alt="TUTH" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image11.png" alt="Nirvana Health and Beauty" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image10.png" alt="Kathmandu Hospital" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image20.jpg" alt="HOTC" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image21.jpg" alt="Norvic" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image15.jpg" alt="CPA and Associates" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image16.png" alt="BlueCross BLue Shield" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image17.jpg" alt="Fiserv" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image18.jpg" alt="Fred Hollows Foundation" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image13.jpg" alt="Du Pont" width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image12.jpg" alt="Wells Fargo" width="180" height="180">
        </div>
        
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image40.png" alt="W.R. Berkley" width="180" height="180">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image41.png" alt="Financial Group Inc." width="180" height="180">
        </div>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" src="/images/clients/image14.png" alt="John Deere" width="180" height="180">
        </div>
    </div>
</div>

        