<%= provide(:products, "active") %>
<%= provide(:title, "Products") %>


<div class="jumbotron">
    <div class="container">
        <h1>Our Products and Services</h1>
        
        <p>We are always working hard to meet our client needs, whether it be delivering enterprise applications or web-based applications. </p>
    </div>
</div>

<div class = "container">
    <hr>

    <div class="row featurette">
        <%= link_to emedicsuite_path do %> 
            <div class="col-md-3 homewidget">
                <span class="fa fa-plus-circle" aria-hidden="true"></span>
            </div>

            <div class="col-md-9 products">
                <h2>eMedicSuite </h2>
                <h4> <span class="text-muted">EMR Suite for your Medical Records.</span></h4>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        <% end %>
    </div>

    <hr>

    <div class="row featurette">
        <%= link_to karma_path do %>
            <div class="col-md-3 homewidget">
                <span class="fa fa-users" aria-hidden="true"></span>
            </div>

            <div class="col-md-9 products">
                <h2>Karma </h2>
                <h4> <span class="text-muted">Solutions for managing your Customers.</span></h4>
                <p class="lead" style="color:#555">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        <% end %>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-barcode" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Chyangba </h2>
            <h4><span class="text-muted">Scratch and Save deals for your Business.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <a target="_blank" href="http://nepalvintage.com/">
        <div class="col-md-3 homewidget">
            <span class="fa fa-gift" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Nepal Vintage </h2>
            <h4> <span class="text-muted">Shop items online.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        </a>
    </div>

    <hr>

     <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-heartbeat" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Doctors Nepal. </h2>
            <h4><span class="text-muted">Connect with your Doctors.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    <hr>

    <!-- /END THE FEATURETTES -->
</div>