<%= provide(:products, "active") %>
<%= provide(:title, "Products") %>


<div class="jumbotron">
    <div class="container">
        <h1>Our Products</h1>
        
        <p>We are always working hard to meet our client needs, whether it be delivering enterprise applications or web-based applications. </p>
    </div>
</div>

<div class = "container">
    <h3>Electronic Medical Records and Practice Management</h3>
    <hr>

    <div class="row featurette">
        <%= link_to emedicsuite_path do %> 
            <div class="col-md-3 homewidget">
                <span class="fa fa-plus-circle" aria-hidden="true"></span>
            </div>

            <div class="col-md-9 products">
                <h2>eMedicSuite </h2>
                <h4> <span class="text-muted">EMR Suite for your Medical Records.</span></h4>
                <p class="lead">Prana helps Hospitals, Clinics and health centers to improve clinical productivity by eliminating unnecessary paper to track patient's health records with ease, therefore, enhance care for your patients. </p>
            </div>
        <% end %>
    </div>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-heartbeat" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Doctors Nepal. </h2>
            <h4><span class="text-muted">Connect with your Doctors.</span></h4>
            <p class="lead">Find your nearest doctor whenever and wherever you are. While as a doctor, share your research, articles and views with the medical community and connect with your patients.</p>
        </div>
    </div>

    <h3>Customer Relationship Management and Enterprise Resource Planning</h3>
    <hr>

    <div class="row featurette">
        <%= link_to karma_path do %>
            <div class="col-md-3 homewidget">
                <span class="fa fa-users" aria-hidden="true"></span>
            </div>

            <div class="col-md-9 products">
                <h2>Karma </h2>
                <h4> <span class="text-muted">Solutions for managing your Customers.</span></h4>
                <p class="lead" style="color:#555">Karma is designed to help you generate leads, track business opportunities, close deals faster, gain new customers and market yourself smarter. It helps your business grow by enabling you to trace the relationship with your customers. </p>
            </div>
        <% end %>
    </div>

    <h3>Mobile Marketing</h3>
    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-barcode" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Chyangba </h2>
            <h4><span class="text-muted">Scratch and Save deals for your Business.</span></h4>
            <p class="lead">Chyanga is one stop for getting all the best deals with spas, restaurants, fashion stores - pick your favorites. Find discounts, offers and giveaways just a scratch away.</p>
        </div>
    </div>

    <h3>eCommerce</h3>
    <hr>

    <div class="row featurette">
        <a target="_blank" href="http://nepalvintage.com/">
        <div class="col-md-3 homewidget">
            <span class="fa fa-gift" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Nepal Vintage </h2>
            <h4> <span class="text-muted">Shop items exclusively from Nepal.</span></h4>
            <p class="lead">Get original products straight from the land of the mountains. Thanka, Paintings, Wool, Herbal Tea, Coffee and all other products you crave from Nepal.</p>
        </div>
        </a>
    </div>
</div>