<%= provide(:services, "active") %>
<%= provide(:title, "Services") %>


<div class="jumbotron">
    <div class="container">
        <h1>Our Services</h1>
        
        <p>Even though our primary focus is building robust software solutions for clients around the globe, however, our technical expertise spans across multiple domains. </p>
    </div>
</div>

<div class = "container">
    <hr>

    <div class="row featurette">
            <div class="col-md-3 homewidget">
                <span class="fa fa-desktop" aria-hidden="true"></span>
            </div>

            <div class="col-md-9 products">
                <h2>Desktop Application Development </h2>
            </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-laptop" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Web Application Development </h2>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-mobile" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Mobile Application Development </h2>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-database" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Database Architechture and Administration </h2>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-cloud" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Cloud Computing</h2>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-3 homewidget">
            <span class="fa fa-cloud-upload" aria-hidden="true"></span>
        </div>

        <div class="col-md-9 products">
            <h2>Web Hosting</h2>
        </div>
    </div>

    
</div>

<!--
Desktop Application Development

For desktop application development, .NET and Java, are used. .NET is preferred by most clients but development of desktop applications in C++ (win32 API) can also be done.

Web Application Development

For Web application development, .NET and Java are core competencies. However, we have competency in Ruby on Rails, PHP and classic ASP. For .NET, we prefer the ASP.NET MVC 4 framework. For Java, we prefer the Grails framework. JQuery is the preferred JavaScript library for Web application development.

Mobile Application Development

We have experience working with industry leading platforms. We have deployed projects on both Android and iOS (iPhone/iPad) mobile operating systems. Applications can be built natively or by using a framework such as PhoneGap.

Database Architecture and Administration

We are experts in MSSQL development and administration. We are equally capable in Oracle, MySQL and PostgreSQL. If necessary, we can also work on MS Access and FileMaker databases.

Cloud Computing

The advent of cloud-based computing has significantly altered the cost dynamics to launch and host internet services. The new paradigm allows you to purchase only what you need, when you need it. Cloud computing, however, still requires a technical staff that is beyond the reach of many small businesses. We have extensive experience with cloud infrastructure leaders Amazon and Rackspace, and can ensure a seamless transition to the cloud.


Graphic Design

We have a dedicated team of creative designers who create graphics designs for logos, custom applications and advertisements. Our standard tools are Adobe Photoshop, Illustrator, and InDesign.

Website Hosting

We create state-of-the-art websites and blogs using pure HTML, PHP or content management systems like WordPress, Drupal and Joomla. We are also capable of using new technologies like HTML5 and CSS3. For hosting, we use Amazon EC2 and provide 24x7 monitoring and regular backups.
-->