<%= provide(:services, "active") %>
<%= provide(:title, "Services") %>


<div class="jumbotron">
    <div class="container">
        <h1>Our Products and Services</h1>
        
        <p>We are always working hard to meet our client needs, whether it be delivering enterprise applications or web-based applications. </p>
    </div>
</div>

<div class = "container  text-center">
    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Prana </h2>
            <h4> <span class="text-muted">EMR Suite for your Medical Records.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <br>
        
        <div class="col-md-12">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Prana placeholder image">
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Karma </h2>
            <h4> <span class="text-muted">Solutions for managing your Customers.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <br>
        
        <div class="col-md-12">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Karma placeholder image">
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Chyangba </h2>
            <h4><span class="text-muted">Scratch and Save deals for your Business.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <br>
        
        <div class="col-md-12">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Chyangba placeholder image">
        </div>
    </div>
    
    <hr>

     <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Nepal Vintage </h2>
            <h4> <span class="text-muted">Shop items online.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <br>
        
        <div class="col-md-12">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="NepalVintage placeholder image">
        </div>
    </div>
    
    <hr>

     <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Doctors Nepal. </h2>
            <h4><span class="text-muted">Connect with your Doctors.</span></h4>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <br>
        
        <div class="col-md-12">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Doctors Nepal placeholder image">
        </div>
    </div>
    <hr>

    <!-- /END THE FEATURETTES -->
</div>
