<%= provide(:team, "active") %>
<%= provide(:title, "Team") %>

<div class="jumbotron">
    <div class="container">
        <h1>Meet our Team!</h1>
        
        <p>Here are the minds who keep Ascend up and running. </p>
    </div>


    <!-- Ascend team and members -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" color="">
                    <img class="img-responsive img-circle" src="/images/team/sanjay_amatya.jpg" alt="Sangay Amatya" width="140" height="140">
                  
                    <h3>Sanjay Amatya</h3>
                    <h5>Founder and CEO</h5>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive img-circle" src="/images/team/rajan_pangeni.jpg" alt="Rajan Pangeni" width="140" height="140" href="#">
                    
                    <h3>Rajan Pangeni</h3>
                    <h5>COO</h5>
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive img-circle" src="/images/team/sangam_upreti.jpg" alt="Sangam Upreti" width="140" height="140">
                    
                    <h3>Sangam Upreti</h3>
                    <h5>CTO</h5>
                </a>
            </div>

            <div class="col-md-3">
                <a href="3">   
                    <img class="img-responsive img-circle" src="/images/team/bibek.jpg" alt="Bibek Shrestha" width="140" height="140">
                    
                    <h3>Bibek Shrestha</h3>
                    <h5>Technical Consultant</h5>
                </a>
            </div>

        </div><!-- /.row -->
    </div>
</div>

<div class="container">
    <p>Want to work with us?</p>
    <%= link_to "Contact Us", new_contact_path, :class => "btn btn-inverse" %>
</div>
    

     