<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ascend Infotech, <%= @contact.name %></h1>
    <p>
      You have successfully recieved your message <br>
    </p>
    <p>
      To send us another message, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>