// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.push{
	height: 210px;
	clear: both;
}

.footer {
    height: 210px; /* .push must be the same height as .footer */
    background-color: #242729;
	color: #CCCCCC;
	padding-top: 20px;
    padding-bottom: 20px;
}