html, body {
	height: 100%;
	margin: 0;
}

.main-page-content{
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
  width: 70%;
  margin: 10px auto;
}

.container_nav {
	margin: 0 auto;
	width: 70%
}

.wrapper {
   	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}

.skinny_wrapper {
	width: 90%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.col-md-3 a {
	color: #555;
	text-decoration: none;
}

.map_container {
  padding: 6px;
  border-width: 1px;
  width: 735px;
}
.gmaps4rails_map {
  width: 100%;
  height: 427px;
}

.btn {
	color: #CCCCCC;
	background-color: #434343;
}

.navbar{
	background-color: #242729;
}

.products{
	color: #434343;
}

.homewidget{
  	text-align: center;
}

.homewidget span{
  	padding: 50px 0px 0px 0px;
  	background: transparent;
}

.fa-plus-circle {
	color: #00B930;
}

.fa-users{
	color: #4285F4;
}

.fa-barcode{
	color: #222222;
}

.fa-gift{
	color: #1ABC9C;
}

.fa-heartbeat{
	color: #EA4335;
}

span.fa {
    font-size: 70px;
    //color: #555;
}

.push{
	height: 210px;
	clear: both;
}

.footer {
    height: 210px; /* .push must be the same height as .footer */
    background-color: #242729;
	color: #CCCCCC;
	padding-top: 20px;
    padding-bottom: 20px;
}

.footer i {
}

.footer li {
	display: inline;
	font-size: 14px;
  	padding-top: 14px;
 	margin-left: -40px;
 	padding-right: 60px;
}

.footer a {
	color: #7a7a7a;
}

.footer-divider {
	border-color: #7a7a7a;
}
