.main-page-content{
	padding-top: 50px;
	padding-bottom: 50px;
}

html, body {
	height: 100%;
	margin: 0;
}

.navbar{
	background-color: #242729;
}

.wrapper {
   	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}

.skinny_wrapper {
	width: 90%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.push{
	height: 210px;
	clear: both;
}

.footer {
    height: 210px; /* .push must be the same height as .footer */
    background-color: #242729;
	color: #CCCCCC;
	padding-top: 20px;
    padding-bottom: 20px;
}

.footer i {
}

.footer li {
	display: inline;
	font-size: 14px;
  	padding-top: 14px;
 	margin-left: -40px;
 	padding-right: 60px;
}

.footer a {
	color: #7a7a7a;
}

.footer-divider {
	border-color: #7a7a7a;
}

.map_container {
  padding: 6px;
  border-width: 1px;
  width: 735px;
}
.gmaps4rails_map {
  width: 100%;
  height: 427px;
}

.btn {
	color: #CCCCCC;
	background-color: #434343;
}

.col-md-3 a {
	color: #333333;
	text-decoration: none;
}